body {
  background: whitesmoke;
}
.App {
  font-family: sans-serif;
  text-align: left;
  width: 300px;
  margin: auto;
  line-height: 5px;
}
h2 {
  text-align: center;
  margin: 50px;
}
.balance {
  font-size: 25px;
}
.flex {
  display: flex;
  width: 300px;
  height: 80px;
  padding: 5px 0px;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.income {
  color: rgb(126, 187, 35);
}
.expense {
  color: firebrick;
}
.line {
  border-right: 1px solid #ddd;
  height: 40px;
}
.underline {
  border-bottom: 1px solid lightgrey;
}
.box {
  background: #fff;
  width: 300px;
  height: 40px;
  padding: 4px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 8px;
}
button {
  background: rgb(113, 100, 199);
  color: #fff;
  padding: 10px;
  margin: 10px 0px;
  border: none;
  font-size: 16px;
}
.exit {
  background-color: firebrick;
  padding: 5px;
  margin: 0;
}
.inline {
  display: flex;
  justify-content: space-between;
}
.red {
  border-right: 5px solid firebrick;
}
.green {
  border-right: 5px solid lightgreen;
}
